*/node_modules
*.pyc
*/*.pyc
__pycache__
db.sqlite3
static/
*.html
migrations/
staticfile/
mediafile/
*.swp
*.save
local/
*.sqlite3
*.env
celerybeat.pid
celerybeat-schedule
*nohup.out
*readme.txt
backup/